<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pywl.project.mapper.PromoteMapper">
	<!-- List<Promote> getAllPromote(); -->
	<select id="getAllPromote" resultType="com.pywl.project.bean.Promote">
	SELECT id,name,message FROM promote
	</select>
	
	<!-- Integer delPromote(Integer id); -->
	<delete id="delPromote" parameterType="java.lang.Integer">
	DELETE FROM promote WHERE id=#{id}
	</delete>
	
	<!-- void addPromote(Promote promote); -->
	<insert id="addPromote" parameterType="com.pywl.project.bean.Promote">
	INSERT INTO promote(name,message) values(#{name},#{message})
	</insert>
</mapper>
















