<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pywl.project.mapper.RoleMapper">
  <resultMap id="BaseResultMap" type="com.pywl.project.bean.Role">
    <id column="role_id" jdbcType="INTEGER" property="roleId" />
    <result column="role_name" jdbcType="VARCHAR" property="roleName" />
    <result column="role_detail" jdbcType="VARCHAR" property="roleDetail" />
  </resultMap>
  <sql id="Base_Column_List">
    role_id, role_name, role_detail
  </sql>
  <select id="selectByPrimary" parameterType="com.pywl.project.bean.Role" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from role
    where 1=1
    <if test="roleId != null">
      and role_id = #{roleId,jdbcType=INTEGER}
    </if>
    <if test="roleName != null">
      and role_name = #{roleName,jdbcType=VARCHAR}
    </if>
    <if test="roleDetail != null">
      and role_detail = #{roleDetail,jdbcType=VARCHAR}
    </if>
  </select>
  <select id="selectByExample" parameterType="com.pywl.project.bean.Role" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from role
    where 1=1
    <if test="roleId != null">
      and role_id = #{roleId,jdbcType=INTEGER}
    </if>
    <if test="roleName != null">
      and role_name = #{roleName,jdbcType=VARCHAR}
    </if>
    <if test="roleDetail != null">
      and role_detail = #{roleDetail,jdbcType=VARCHAR}
    </if>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from role
    where role_id = #{roleId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.pywl.project.bean.Role">
    insert into role (role_id, role_name, role_detail
      )
    values (#{roleId,jdbcType=INTEGER}, #{roleName,jdbcType=VARCHAR}, #{roleDetail,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.pywl.project.bean.Role">
    insert into role
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="roleId != null">
        role_id,
      </if>
      <if test="roleName != null">
        role_name,
      </if>
      <if test="roleDetail != null">
        role_detail,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="roleId != null">
        #{roleId,jdbcType=INTEGER},
      </if>
      <if test="roleName != null">
        #{roleName,jdbcType=VARCHAR},
      </if>
      <if test="roleDetail != null">
        #{roleDetail,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.pywl.project.bean.Role">
    update role
    <set>
      <if test="roleName != null">
        role_name = #{roleName,jdbcType=VARCHAR},
      </if>
      <if test="roleDetail != null">
        role_detail = #{roleDetail,jdbcType=VARCHAR},
      </if>
    </set>
    where role_id = #{roleId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pywl.project.bean.Role">
    update role
    set role_name = #{roleName,jdbcType=VARCHAR},
      role_detail = #{roleDetail,jdbcType=VARCHAR}
    where role_id = #{roleId,jdbcType=INTEGER}
  </update>
</mapper>